.bes-character-link {
  height: 38px;
  background-color: #26282a;
  border-radius: 3px;
  padding: 4px;
  overflow: hidden;
}

.bes-character-link a {
  height: 100%;
}

.bes-character-link img {
  height: 100%;
  margin-right: 8px;
}

.bes-character-link span {
  vertical-align: middle;
}

.bes-scrollToTop {
    position: fixed;
    bottom: 0;
    left: 10px;
    border-radius: 3px 3px 0 0;
    margin: 0;
    color: #26282a;
    border: 1px solid #a5afba;
    border-bottom: none;
    font-size: 14px;
    padding: 8px;
}
